# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle
android/local.properties

# 🔐 Keystore & Secrets (ASLA commit etmeyin!)
*.jks
*.keystore
key.properties
.env

# Python
venv/
__pycache__/

# OS
.DS_Store
Thumbs.db
